/node_modules
/public/hot
/public/storage
/public/content
/storage/*.key
/vendor
!/vendor
/vendor/*
!/vendor/encore
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
