/node_modules
/public/storage
/public/content
/public/upload
/storage/*.key
/storage/logs/*
/vendor
!/vendor
/vendor/*
!/vendor/encore
!/vendor/jxlwqq
!/vendor/laravel-admin-ext
.env
.env.backup
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
